body {
    background-color: coral; 
    margin: 0px;
}  

.container {
    /* margin: auto;  */
    text-align: center;  
    margin-top: 80px; 
    font-size: 25px;
    
}

.tracker-button {
    background-color: yellow; 
    width: 200px; 
    height: 40px; 
    border-radius: 5px; 
    border: 0px;
} 

.tracker-text {
    color: white;
}